$light-theme-map: (
  "primary": #484fcb,
  "on-primary": #ffffff,
  "primary-container": #dfe0ff,
  "on-primary-container": #00006f,
  "secondary": #205fa9,
  "on-secondary": #ffffff,
  "secondary-container": #d4e3ff,
  "on-secondary-container": #001b3d,
  "tertiary": #90427a,
  "on-tertiary": #ffffff,
  "tertiary-container": #ffd7ef,
  "on-tertiary-container": #3b0030,
  "error": #ba1b1b,
  "on-error": #ffffff,
  "error-container": #ffdad4,
  "on-error-container": #410001,
  "background": #fbf6f7,
  "on-background": #1d1b1e,
  "surface": #fffbfc,
  "on-surface": #1d1b1e,
  "surface-variant": #e4e1ec,
  "on-surface-variant": #46464f,
  "outline": #777680,
  "inverse-on-surface": #f5eff3,
  "inverse-surface": #323033,
  "inverse-primary": #bec2ff,
);

@function theme-get($key) {
  @return map-get($map: $light-theme-map, $key: $key);
}

app-root {
  background-color: theme-get("background");
  color: theme-get("on-background");
}

app-header {
  & .nav {
    &__logo-container,
    &__logo-container:visited {
      color: theme-get("on-background");
    }

    &__logo-container:focus {
      outline: none;
    }

    &__logo-container:hover,
    &__logo-container:focus,
    &__logo-container:active {
      color: theme-get("primary");
    }
  }
}

app-icon-button {
  & .button--icon {
    &:hover .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.08
      );
    }

    &:focus .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.12
      );
    }

    &:active .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.16
      );
    }

    & svg {
      fill: theme-get("on-surface-variant");
    }
  }
}

app-filled-button {
  & .button--filled {
    background-color: theme-get("primary");
    box-shadow: none;
    color: theme-get("on-primary");
    position: relative;

    &:hover {
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
        0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
    }

    &:focus,
    &:active {
      box-shadow: none;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.08);
    }

    &:focus::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.12);
    }

    &:active::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.16);
    }

    & > svg {
      fill: theme-get("on-primary");
    }
  }
}

app-benefits {
  & .benefits__list {
    background-color: theme-get("primary");
    color: theme-get("on-primary");
  }

  & .divider {
    background-color: rgba($color: theme-get("on-primary"), $alpha: 0.62);
  }
}

app-products {
  & .products__list-item:nth-child(odd) .card {
    background-color: theme-get("secondary");
    color: theme-get("on-secondary");
  }

  & .products__list-item:nth-child(even) .card {
    background-color: theme-get("tertiary");
    color: theme-get("on-tertiary");
  }
}
