$light-theme-map: (
  "primary": #484fcb,
  "on-primary": #ffffff,
  "primary-container": #dfe0ff,
  "on-primary-container": #00006f,
  "secondary": #205fa9,
  "on-secondary": #ffffff,
  "secondary-container": #d4e3ff,
  "on-secondary-container": #001b3d,
  "tertiary": #90427a,
  "on-tertiary": #ffffff,
  "tertiary-container": #ffd7ef,
  "on-tertiary-container": #3b0030,
  "error": #ba1b1b,
  "on-error": #ffffff,
  "error-container": #ffdad4,
  "on-error-container": #410001,
  "background": #fbf6f7,
  "on-background": #1d1b1e,
  "surface": #fffbfc,
  "on-surface": #1d1b1e,
  "surface-variant": #e4e1ec,
  "on-surface-variant": #46464f,
  "outline": #777680,
  "inverse-on-surface": #f5eff3,
  "inverse-surface": #323033,
  "inverse-primary": #bec2ff,
  "inverse-on-primary": #0f129e,
);

@function theme-get($key) {
  @return map-get($map: $light-theme-map, $key: $key);
}

app-root {
  background-color: theme-get("background");
  color: theme-get("on-background");
}

app-header {
  & .nav {
    transition: background 150ms ease-in;

    &__logo-container,
    &__logo-container:visited {
      color: theme-get("on-background");
    }

    &__logo-container:focus {
      outline: none;
    }

    &__logo-container:hover,
    &__logo-container:focus,
    &__logo-container:active {
      color: theme-get("primary");
    }

    &__links-container a,
    .mobile-nav a {
      &:focus,
      &:hover,
      &:active {
        color: theme-get("primary");
      }

      &:hover,
      &:active {
        text-decoration: underline solid 0.1rem currentColor;
      }
    }
  }

  nav.surface {
    background: #f0edf8;
  }

  & .mobile-nav {
    &__backdrop {
      background-color: rgba(
        $color: theme-get("inverse-surface"),
        $alpha: 0.42
      );
    }

    &__drawer {
      background-color: #e5e3f5;
    }

    &__divider {
      border-color: rgba($color: theme-get("outline"), $alpha: 0.42);
    }
  }

  & app-social-buttons .socials__list-item a {
    &:focus .state-layer {
      border-color: theme-get("primary");
    }

    &:focus svg {
      fill: theme-get("primary");
    }

    &:hover .state-layer,
    &:active .state-layer {
      background-color: theme-get("on-surface-variant");
    }

    &:hover svg,
    &:active svg {
      fill: #e5e3f5;
    }

    & .state-layer {
      border-color: theme-get("on-surface-variant");
    }

    & svg {
      fill: theme-get("on-surface-variant");
    }
  }
}

app-icon-button {
  & .button--icon {
    &:hover .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.08
      );
    }

    &:focus .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.12
      );
    }

    &:active .state-layer {
      background-color: rgba(
        $color: theme-get("on-surface-variant"),
        $alpha: 0.16
      );
    }

    & svg {
      fill: theme-get("on-surface-variant");
    }
  }
}

app-filled-link,
app-filled-button {
  & .link-filled--light,
  & .button-filled--light {
    background-color: theme-get("primary");
    color: theme-get("on-primary");
  }

  & .link-filled--dark,
  & .button-filled--dark {
    background-color: theme-get("inverse-primary");
    color: theme-get("inverse-on-primary");
  }

  & .link-filled,
  & .button-filled {
    box-shadow: none;
    position: relative;

    &:hover {
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
        0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
    }

    &:focus,
    &:active {
      box-shadow: none;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.08);
    }

    &:focus::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.12);
    }

    &:active::after {
      background-color: rgba($color: theme-get("background"), $alpha: 0.16);
    }

    & > svg {
      fill: theme-get("on-primary");
    }
  }
}

app-social-buttons .socials__list-item a {
  & .state-layer {
    border: 0.1rem solid;
    transition: 150ms ease-in;
    transition-property: background-color, border-color;
  }

  & svg {
    transition: fill 150ms ease-in;
  }

  &:hover .state-layer,
  &:active .state-layer {
    border-color: transparent;
  }
}

app-benefits {
  & .benefits__list {
    background-color: theme-get("primary");
    color: theme-get("on-primary");
  }

  & .divider {
    background-color: rgba($color: theme-get("on-primary"), $alpha: 0.62);
  }
}

app-products {
  & .card {
    &:focus {
      outline: 0.5rem solid theme-get("on-surface-variant");
      outline-offset: -0.4rem;
    }
  }

  & .products__list-item:nth-child(odd) .card {
    background-color: theme-get("secondary");
    color: theme-get("on-secondary");
  }

  & .products__list-item:nth-child(even) .card {
    background-color: theme-get("tertiary");
    color: theme-get("on-tertiary");
  }
}

app-footer {
  $footer-background-color: #34323d;
  $footer-color: #f5eff3;

  & .footer {
    background-color: $footer-background-color;
    color: $footer-color;

    &__copyright {
      $opacity-color: rgba(
        $color: #bec2ff,
        $alpha: 0.05,
      );
      background-color: #252329;
    }
  }

  & app-social-buttons .socials__list-item a {
    &:focus .state-layer {
      border-color: theme-get("inverse-primary");
    }

    &:focus svg {
      fill: theme-get("inverse-primary");
    }

    &:hover .state-layer,
    &:active .state-layer {
      background-color: theme-get("inverse-primary");
    }

    &:hover svg,
    &:active svg {
      fill: $footer-background-color;
    }

    & .state-layer {
      border-color: #f5eff3;
    }

    & svg {
      fill: #f5eff3;
    }
  }
}

app-text-field {
  & .text-field {
    &__input {
      border: 0.1rem solid theme-get("outline");
      color: inherit;
    }

    &__error-message {
      color: #ffb4a9;
    }
  }
}

app-hero-product {
  & .toolbar-placeholder {
    background-color: theme-get("secondary-container");
  }
  & a.hero__banner:nth-of-type(odd) {
    background-color: theme-get("secondary-container");
    color: theme-get("on-secondary-container");
  }

  & a.hero__banner:nth-of-type(even) {
    background-color: theme-get("tertiary");
    color: theme-get("on-tertiary");
  }
}

app-product-card {
  & .product {
    background-color: theme-get("surface-variant");

    &__img-container {
      background-color: white;
    }

    &__chip {
      background-color: theme-get("secondary-container");
      color: theme-get("on-secondary-container");
    }

    &__name {
      color: theme-get("on-surface");
    }

    &__description {
      color: theme-get("on-surface-variant");
    }
  }
}
