@use "../../../../../sass/base/typography";

.product {
  align-items: stretch;
  display: flex;
  height: 17.5rem;
  width: 100%;

  &.outlined {
    border-radius: 1.2rem;
    overflow: hidden;
    width: 37.5rem;
  }

  &__img-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 14rem;
    overflow: hidden;
    position: relative;
    width: 14rem;
  }

  &__img {
    width: 92%;
  }

  &__chip {
    @extend %label-m;

    align-items: center;
    border-radius: 0.8rem;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    padding: 0 1.6rem;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    padding: 2.4rem 1.6rem;
  }

  &__name {
    @extend %title-m;

    margin-bottom: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    @extend %body-m;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -webkit-box;
    overflow: hidden;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__price {
    @extend %label-l;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
