<article class="product" [ngClass]="variant" *ngIf="product">
  <figure class="product__img-container">
    <div class="product__chip" *ngIf="isNew">Nuevo</div>
    <img [src]="product.imgUrl" alt="{{ product.name }}" class="product__img" />
  </figure>
  <div class="product__details">
    <h3 class="product__name">{{ product.name }}</h3>
    <p class="product__description">
      {{ product.description ? product.description : "&nbsp;" }}
    </p>
    <p class="product__price">
      {{ product.price ? (product.price | currency) : "Por consulta" }}
    </p>
  </div>
</article>

<article *ngIf="loading" class="product__placeholder" [ngClass]="variant">
  <figure class="product__img-container">
    <ngx-skeleton-loader
      [theme]="{
        width: '14rem',
        height: '20rem',
        'margin-bottom': 0,
        background: '#d0d0d5'
      }"
    ></ngx-skeleton-loader>
  </figure>
  <div class="product__details">
    <div class="product__name">
      <ngx-skeleton-loader
        [theme]="{ width: '10rem', background: '#d0d0d5' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="product__description">
      <ngx-skeleton-loader
        [theme]="{ width: '100%', background: '#d0d0d5' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="product__price">
      <ngx-skeleton-loader
        [theme]="{ width: '5rem', 'margin-bottom': 0, background: '#d0d0d5' }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</article>
