@use "../../../../sass/base/typography";

.footer {
  @extend %body-l;

  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  &__details {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 1.6rem 0;
    text-align: center;
  }

  &__divider {
    margin: 3.2rem 0;
    width: clamp(18.5rem, 50%, 22rem);
  }

  &__social-list {
    align-items: center;
    column-gap: 1.2rem;
    display: flex;
    list-style: none;
  }

  &__social-list-item > a {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;

    & .state-layer {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 3.6rem;
      justify-content: center;
      width: 3.6rem;
    }
  }

  &__copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 6.4rem;
    justify-content: center;
    padding: 0 1.6rem;
  }

  &__copyright-text {
    @extend %body-s;
  }
}

.subscribe__instructions {
  &-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    row-gap: 2.4rem;
  }
}
