<footer class="footer">
  <div class="footer__details">
    <label class="footer__instructions" for="email-field">
      Suscríbete para enterarte de las últimas novedades y promociones
    </label>
    <div class="footer__cta-container">
      <app-text-field
        id="email-field"
        class="footer__field"
        placeholder="Tu correo"
        [value]="email"
        (valueChange)="onEmailChange($event)"
        [error]="((enableLiveFeedback$ | async) ?? false) && showEmailError"
        [helperText]="emailErrorMessage"
      ></app-text-field>
      <app-filled-button
        class="footer__cta"
        [darkVariant]="true"
        label="Suscribirse"
        (btnClick)="onSubscribe()"
      ></app-filled-button>
    </div>
    <hr class="footer__divider" />
    <app-social-buttons></app-social-buttons>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">{{ "Sweeties672 © " + year }}</p>
  </div>
</footer>
