@use "../../../../sass/abstracts/variables" as v;
@use "../../../../sass/base/typography";

.nav {
  align-items: center;
  display: flex;
  height: v.$toolbar-height;
  justify-content: space-between;
  padding: 0 1.6rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  &__logo-container {
    @extend %title-l;

    align-items: center;
    column-gap: 1.6rem;
    display: flex;
    text-decoration: none;
    transition: color 100ms ease;
  }

  &__logo {
    width: 2.4rem;
  }
}
