@use "../../../../sass/abstracts/mixins" as m;
@use "../../../../sass/abstracts/variables" as v;
@use "../../../../sass/base/typography";

.nav {
  align-items: center;
  display: flex;
  height: var(--toolbar-height);
  justify-content: space-between;
  padding: 0 1.6rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  @include m.for-size("small-up") {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  @include m.for-size("large-up") {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @include m.for-size("desktop-up") {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  @include m.for-size("extra-large-up") {
    padding-left: clamp(16rem, 15%, 40rem);
    padding-right: clamp(16rem, 15%, 40rem);
  }

  &__logo-container {
    @extend %title-l;

    align-items: center;
    column-gap: 1.6rem;
    display: flex;
    text-decoration: none;
    transition: color 100ms ease;
  }

  &__logo {
    width: 2.4rem;
  }

  &__button {
    z-index: 2500;
  }

  &__links-container {
    align-items: center;
    display: flex;
    column-gap: 1.6rem;
    list-style: none;

    & a {
      @extend %body-l;
    }
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &__backdrop {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__drawer {
    align-content: center;
    align-self: flex-end;
    border-top-left-radius: 3.2rem;
    border-bottom-left-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: calc(var(--toolbar-height) + 0.8rem) 3.2rem 0;
    position: absolute;
    row-gap: 2.4rem;
    top: 0;
    width: 85%;
    z-index: 1100;
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    row-gap: 1.6rem;
  }

  &__socials {
    width: 20rem;
  }

  & li {
    display: flex;
    justify-content: center;
  }

  & a {
    @extend %body-l;
    width: fit-content;
  }
}

.open-drawer {
  animation: 200ms ease-in slide-to-left;
}

@keyframes slide-to-left {
  from {
    right: -85%;
  }

  to {
    right: 0;
  }
}
