<main class="product-list">
  <section
    class="category"
    [ngClass]="{ hide: !item.value.length }"
    *ngFor="let item of productsMap$ | async | keyvalue : setupKeysOrder"
    [id]="getSectionId(item.key)"
  >
    <h2 class="category__name" *ngIf="item.value.length">
      {{ item.key | titlecase }}
    </h2>
    <ul class="category__products" *ngIf="item.value.length">
      <li *ngFor="let product of item.value">
        <app-product-card
          [product]="product"
          [isNew]="isNewProduct(product)"
          [imgSrc]="product.imgUrl"
        ></app-product-card>
      </li>
    </ul>
  </section>
</main>
