<header class="hero">
  <div class="toolbar-placeholder"></div>
  <a href="/products#smoothies" class="hero__banner">
    <img
      src="../../../assets/smoothie.svg"
      alt="Smoothie de fresa"
      class="hero__banner-img"
    />
    <h2 class="hero__banner-title">Smoothies</h2>
  </a>
  <a href="/products#batidos" class="hero__banner">
    <img
      src="../../../assets/shake.svg"
      alt="Batido de fresa"
      class="hero__banner-img"
    />
    <h2 class="hero__banner-title">Batidos</h2>
  </a>
  <a href="/products#postres" class="hero__banner">
    <img
      src="../../../assets/cake.svg"
      alt="Pastel de vainilla"
      class="hero__banner-img"
    />
    <h2 class="hero__banner-title">Postres</h2>
  </a>
</header>
