// ----- TYPESCALE -----
%display-l {
  font-family: Philosopher, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}
%display-m {
  font-family: Philosopher, sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
}
%display-s {
  font-family: Philosopher, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
}

%headline-l {
  font-family: Philosopher, sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
}
%headline-m {
  font-family: Mulish, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
%headline-s {
  font-family: Mulish, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

%title-l {
  font-family: Mulish, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.8rem;
}
%title-m {
  font-family: Philosopher, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 2.4rem;
}
%title-s {
  font-family: Mulish, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 2rem;
}

%label-l {
  font-family: Mulish, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 2rem;
}
%label-m {
  font-family: Mulish, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
}
%label-s {
  font-family: Mulish, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
}

%body-l {
  font-family: Mulish, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
}
%body-m {
  font-family: Mulish, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 2rem;
}
%body-s {
  font-family: Mulish, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.6rem;
}
