@use "./abstracts/variables";
@use "./base/reset";
@use "./base/typography";
@use "./components/button";
@use "./components/inputs";
@use "./components/links";
@use "./themes/light-theme";

app-root {
  display: block;
  height: 100%;
  width: 100%;
}
