@use "../../../../../sass/abstracts/variables" as v;
@use "../../../../../sass/base/typography";

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: v.$toolbar-height 1.6rem 0;

  &__text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    @extend %display-l;
  }

  &__description {
    @extend %body-l;
    margin-bottom: 4rem;
  }

  &__image-container {
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}
