@use "../../../../../sass/abstracts/variables" as v;
@use "../../../../../sass/base/typography";

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-bottom: 6.4rem;
  padding: v.$toolbar-height 1.6rem 0;
  position: relative;
  overflow-x: hidden;

  &__text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
  }

  &__title {
    @extend %display-l;
  }

  &__description {
    @extend %body-l;
    margin-bottom: 4rem;
  }

  &__image-container {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  .blob {
    position: absolute;
    top: -3.5rem;
    right: -7rem;
  }
}
