<main class="products">
  <h2 class="products__title">Productos</h2>
  <ul class="products__list">
    <li class="products__list-item">
      <a routerLink="/products" class="card">
        <h3 class="card__title">Ver todo</h3>
        <img
          src="../../../../../assets/cheesecake.svg"
          alt="Cheesecake"
          class="card__img"
        />
      </a>
    </li>
    <li class="products__list-item">
      <a routerLink="/products" fragment="smoothies" class="card">
        <h3 class="card__title">Smoothies</h3>
        <img
          src="../../../../../assets/smoothie.svg"
          alt="Smoothie de fresa"
          class="card__img"
        />
      </a>
    </li>
    <li class="products__list-item">
      <a routerLink="/products" fragment="shakes" class="card">
        <h3 class="card__title">Batidos</h3>
        <img
          src="../../../../../assets/shake.svg"
          alt="Batido de fresa"
          class="card__img"
        />
      </a>
    </li>
    <li class="products__list-item">
      <a routerLink="/products" fragment="desserts" class="card">
        <h3 class="card__title">Postres</h3>
        <img
          src="../../../../../assets/cake.svg"
          alt="Pastel de vainilla"
          class="card__img"
        />
      </a>
    </li>
  </ul>
</main>
