@use "../../../../../sass/abstracts/mixins" as m;
@use "../../../../../sass/base/typography";

.location {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 2.4rem;

  @include m.for-size("large-up") {
    flex-direction: row;
    padding-left: 10rem;
  }

  &__img-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
    row-gap: 0.8rem;
    width: 100%;

    @include m.for-size("small-up") {
      row-gap: 2.4rem;
    }
  }

  &__img {
    max-width: 35rem;
    width: 100%;

    @include m.for-size("high-res-up") {
      max-width: 50rem;
    }
  }

  &__title {
    @extend %display-m;
  }

  &__map {
    width: 100%;

    @include m.for-size("large-up") {
      height: 70rem;
    }
  }
}
