a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: fit-content;

  &:focus {
    outline: none;
  }

  &:visited {
    color: currentColor;
  }
}
