<div class="benefits">
  <ul class="benefits__list">
    <li class="benefits__list-item">
      <img
        src="../../../../../assets/healthy-food.svg"
        alt="Tazón con frutas y verduras"
        class="benefits__list-item-img"
      />
      <p class="benefits__list-item-text">
        Hechos con ingredientes frescos y naturales
      </p>
    </li>
    <li class="benefits__list-item-divider"><div class="divider"></div></li>
    <li class="benefits__list-item">
      <img
        src="../../../../../assets/tongue.svg"
        alt="Labios rojos mostrando la lengua"
        class="benefits__list-item-img"
      />
      <p class="benefits__list-item-text">
        Postres sin culpa para disfrutar sin preocupaciones
      </p>
    </li>
    <li class="benefits__list-item-divider"><div class="divider"></div></li>
    <li class="benefits__list-item">
      <img
        src="../../../../../assets/pizza-oven.svg"
        alt="Pizza entrando al horno artesanal"
        class="benefits__list-item-img"
      />
      <p class="benefits__list-item-text">
        Postres artesanales, sin elaboración industrial
      </p>
    </li>
  </ul>

  <img
    src="../../../../../assets/smoothie-alt.svg"
    alt="Smoothie de frutas"
    class="benefits__img"
  />

  <img src="../../../../../assets/blob-2.svg" alt="Blob azul" class="blob" />
</div>
